form {
  width: 90%;
  max-width: 300px;
  background-color: #7E72A3;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: blanchedalmond;
  margin-bottom: 26px;
}

textarea {
  background-color: #36383d;
  border: 2px solid #36383d;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #dfdfe3;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
}

textarea::placeholder {
  color: blanchedalmond;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color: #36383d;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  background: #343E57;
  border-radius: 10%;
  box-shadow: 0px 5px 25px #343E57;
}

.TodoForm-button--cancel {
  background: transparent;
}